PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
MONGO_URI=YOUR_MONGODB_CONNECTION_STRING
FIREBASE_WEB_API_KEY=YOUR_FIREBASE_WEB_API_KEY
SEED_ADMIN_PASSWORD=your_admin_password_here
TEST_ADMIN_PASSWORD=your_test_admin_password_here
