PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
MONGO_URI=YOUR_MONGODB_CONNECTION_STRING
FIREBASE_WEB_API_KEY=YOUR_FIREBASE_WEB_API_KEY
SEED_ADMIN_PASSWORD=your_admin_password_here
TEST_ADMIN_PASSWORD=your_test_admin_password_here
TEST_PATIENT_PASSWORD=your_test_patient_password
TEST_DONOR_PASSWORD=your_test_donor_password
TEST_HOSPITAL_PASSWORD=your_test_hospital_password
GEMINI_API_KEY=your_gemini_api_key_here
